:root {
  --blue: rgb(98, 166, 204);
  --white: rgb(255, 255, 255);
  --snow: rgb(240, 240, 240);
  --lightsnow: rgb(250, 250, 250);
  --gloomyday: rgb(196, 196, 196);
  --darkvelvet: rgb(63, 28, 28);
}
