:root {
  --blue: rgb(98, 166, 204);
  --white: rgb(255, 255, 255);
  --snow: rgb(240, 240, 240);
  --lightsnow: rgb(250, 250, 250);
  --gloomyday: rgb(196, 196, 196);
  --darkvelvet: rgb(63, 28, 28);
}

html {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.1em;
}

/* Sidebar Navigation */

nav {
  display: inline-flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  position: fixed;
  background-color: var(--blue);
}

nav img {
  width: 2vw;
  height: auto;
  object-fit: contain;
}

nav img[alt="Page Logo"] {
  width: 5vw;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  position: static;
}

nav a {
  background-color: var(--blue);
  color: var(--darkvelvet);
  width: 15vw;
  font-size: 1.5vw;
  margin: 2vh 0;
  text-align: center;
  text-decoration: none;
}

/* Below section of rulesets is the styling for the header section, above the 'About Me' */

header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 84vw;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 15vw;
  background-color: var(--white);
}

header img {
  width: 17vw;
  height: auto;
}

header h1 {
  display: inline;
  width: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  font-size: 10vh;
  line-height: 1;
}

/* Below section of rulesets is the styling for the 'About Me' section */

#aboutme {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 84vw;
  position: absolute;
  top: 40vh;
  left: 15vw;
  background-color: var(--snow);
}

#aboutme img {
  width: 17vw;
  height: 40vh;
  margin: 5vh 0 5vh 10vh;
  object-fit: cover;
  border-radius: 2%;
  outline: 0.5vw solid var(--gloomyday);
}

#aboutme div {
  width: 30vw;
  height: 40vh;
  margin: 5vh 0;
  background-color: var(--lightsnow);
  padding: 0 2vw;
  border-radius: 2%;
}

#aboutme h3,
#aboutme p {
  font-size: 1.25vw;
}

/* Below set of rulesets are for the project section. This section is made up of 3 nested flexboxes to aide in element spacing. The heiherarcy of the box classes/ids, beginning with largest, is main(element), projectsection(class), projectlist(class). */

main {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  width: 84vw;
  height: 90vh;
  position: absolute;
  top: 90vh;
  left: 15vw;
  background-color: var(--gloomyday);
}

.projectsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
  height: 20vh;
  padding: 2% 0;
}

.projectsection h3,
/* .projectsection p, */
.projectsection a {
  width: 30vw;
  border: 1% solid var(--darkvelvet);
  border-radius: 5px;
  text-align: center;
}

.projectsection h3 {
  color: var(--white);
  height: 3vh;
  padding: 15% 10%;
  font-size: 1.5vw;
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
}

/* .projectsection p, */
.projectsection a {
  font-size: 1vw;
  height: 2vh;
  padding: 1vh 0;
}

#proj-group1 {
  background-image: url(https://images.unsplash.com/photo-1607706189992-eae578626c86?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGh0bWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

#proj-group2 {
  color: var(--darkvelvet);
  background-image: url(https://images.unsplash.com/photo-1543966888-7c1dc482a810?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8amF2YXNjcmlwdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  object-position: center;
}

#proj-group3 {
  background-image: url(https://images.unsplash.com/photo-1517180102446-f3ece451e9d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9vdHN0cmFwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.projectlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .projectlist p, */
.projectlist a {
  background-color: var(--darkvelvet);
  color: var(--gloomyday);
  font-size: 1vw;
  height: 2vh;
  padding: 1vh 0;
}

.projectlist a {
  display: block;
  background-color: var(--darkvelvet);
  color: var(--gloomyday);
  text-decoration: none;
  margin: 2vh 0;
}

/* Contact Me Section */

#contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 84vw;
  height: 20vh;
  position: absolute;
  top: 180vh;
  left: 15vw;
  background-color: var(--white);
}

#contactinfo div {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  height: 5vw;
}

#contactinfo div a,
#contactinfo h3 {
  color: var(--darkvelvet);
  text-decoration: none;
  font-size: 1.25vw;
}

#contactinfo img {
  width: 1.75vw;
  height: auto;
  object-fit: contain;
  position: relative;
  top: 0.5vh;
}

/* Add Media Queries beneath here */

@media screen and (max-width: 1024px) {
  nav a[href="mailto:bcb35b@gmail.com"],
  nav a[href="https://www.linkedin.com/in/brice-bridges/"],
  nav a[href="https://github.com/bcbridges"]
  {
    display: none;
  }

  nav {
    width: 100vw;
    height: 15vh;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: static;
  }

  nav a {
    font-size: 2vw;
  }

  nav img[alt="Page Logo"] {
    width: 7vw;
    height: auto;
  }

  header,
  #aboutme,
  #mywork,
  #contactinfo {
    left: 0;
    width: 100vw;
  }

  header {
    top: 15vh;
  }

  #aboutme {
    top: 55vh;
  }

  #aboutme img {
    width: 30vh;
  }

  #mywork {
    top: 105vh;
    height: 80vh;
  }

  #mywork h3 {
    height: 10vh;
  }

  .projectsection {
    justify-content: space-between;
  }

  #contactinfo {
    top: 185vh;
  }
}
